# Ignore everything by default
*

# Keep git metadata
!.gitignore

# Keep only these projects
!Project-1-Search/
!Project-1-Search/**

# Allow only Python and notebooks from Project-2-Genetic
!Project-2-Genetic/
Project-2-Genetic/**
!Project-2-Genetic/**/
!Project-2-Genetic/**/*.py
!Project-2-Genetic/**/*.ipynb

!Project-3-Spam/
!Project-3-Spam/**

# OS cruft
.DS_Store
